*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  min-width: 320px;
  color: #334155;
  background-color: white;
  font-family:
    Arial,
    Helvetica,
    sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}